{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="border border-primary-subtle">
            <div class="alert alert-primary" role="alert">
                First 10 lines of the file
            </div>
            {{ text }}
        </div>
        <div class="mt-3 border border-secondary">
            <div class="alert alert-primary" role="alert">
                Chunking parameters
            </div>
            <form method="post">
            {% csrf_token %}
                <div class="form-floating mb-3" id="floatingSelect">
                    <span for="{{ form.chunking_strategy.id_for_label }}" class="form-label"> Chunking Strategy </span>
                    {{ chunking_form.chunking_strategy}}
                </div>
                {% for field in chunking_form %}
                    {% if field.name != 'chunking_strategy' %}
                        <div class="fields">
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{ field.label }}</span>
                                {{ field }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Update" class="btn btn-primary">
            </form>
        </div>

        <div class="mt-3 border border-danger-subtle">
            <div class="alert alert-primary" role="alert">
                Chunks
            </div>
            <div>
                {% for chunk in chunk_data %}
                    <span style="background-color: {{ chunk.chunk_color|escape }}">
                        {{ chunk.chunk_text|escape }}
                    </span>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <form method="post" action="{% url 'fileprocessing' %}">
                {% csrf_token %}
                <input type="submit" value="Previous" class="btn btn-secondary">
            </form>

            <form method="post" action="{% url 'fileprocessing' %}">
                {% csrf_token %}
                <input type="submit" value="Next" class="btn btn-primary">
            </form>
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
       const choiceField = document.getElementById('id_chunking_strategy');
       const conditionalFields = document.querySelectorAll('.conditional-chunking-arg');

       // Hide the fields initially
       conditionalFields.forEach(field => {
            field.closest('.fields').style.display = 'none';
       });

       function updateFieldVisibility() {
            const selectedChoice = choiceField.value;

            conditionalFields.forEach(field => {
                const fieldContainer = field.closest('.fields');
                fieldContainer.style.display = 'none';

                if(field.classList.contains(selectedChoice + '-chunk')) {
                    fieldContainer.style.display = 'block'
                }
            });
       }

        updateFieldVisibility();
        choiceField.addEventListener('change', updateFieldVisibility);
    });
</script>

{% endblock content%}